@import 'global';

body {
	margin: 0;
}

.content{
	width: 90%;
	margin: 0 auto;
	font-family: $fonts_global;
}

.title{
	margin: 10px 0;
	display: inline-block;
	font-family: $fonts_title;
	font-size: 24px;
	color: $primary;
	text-decoration: none;
}

.button{
	display:inline-block;
	height: 50px;
	line-height: 50px;
	background-color: $primary;
	padding: 0 20px;
	color: white;
	font-family: $fonts_title;
	font-size: 24px;
	text-decoration: none;
	transition: all .15s ease-in-out;
	cursor: pointer;
	&:hover{
		background-color: $primary_f1;
	}	
	&.button-disabled{
		background-color: rgba(0,0,0,.4);		
	}
}

.clearfix{
	clear:both;
}

.footer{
	width: 100%;
	border-top: 1px solid $primary_f3;
	padding: 24px 0;
	color: rgba(0,0,0,.64);
	font-weight:300;
	font-size:12;
}

.hide{
	display:none;
}

.raw{
	border-top: 1px solid $primary_f3;
	padding: 24px 0;
}
