@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$fonts_global: 'Roboto', sans-serif;
$fonts_title: 'Didact Gothic', sans-serif;

$primary: #273c92;
$primary_f1: #5263a8;
$primary_f2: #7d8abe;
$primary_f3: #a9b1d3;