@import 'global';
.content-wrapper{
	width: 100%;
	.map {
		width: 100%;
		height: 600px;
		position: relative;
	}
	.control{
		z-index: 1;
		position: absolute;
		left: 10px;
		top:60px;
	}
	.selector{
		z-index: 0;
		position:absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		.handler{
			position:absolute;
			height: 12px;
			width: 12px;
			background-color: white;
			outline: solid 2px $primary;
			cursor: move
		}
		.shader{
			background-color: rgba(0,0,0,.15);
		}
	}
	.area-number{
		float:left;
		margin: 32px 24px 0;
		font-size: 18px;
		font-weight: 300;
		color:$primary;
	}
	.area-indicator{
		margin: 28px 0 0;
		float: left;
		z-index: 1;
		position:relative;
		height:30px;
		width: 200px;
		outline: solid 1px $primary;
		.area-indicator-fill{
			z-index: 2;
			position:absolute;
			top:0;
			left: 0;
			box-shadow: inset 0 0 0 2px white;
			height:30px;
			background-color: $primary;
		}
		.area-exceed{
			background-color: rgba(0,0,0,.4);
		}
	}
	.proceed-button{
		margin: 18px 0;
		float: right;
	}
	.proceed-alert{
		float:right;
		font-weight: 300;
		margin: 18px;
		line-height: 50px;
		&.red{
			color:red;
		}
		&.green{
			color:green;
		}
	}
	.row{
		width: 100%;
	}
}